{% load profile_extras %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          {% if perms.payroll.add_payroll or perms.payroll.approve_payroll %}
              <a class="nav-link" href="{% url 'payroll:list' %}">Payroll <span class="sr-only">(current)</span></a>
          {% endif %}
      </li>
    </ul>
      {% if not user.is_authenticated %}
          <div class="button-group">
            <a href="{% url 'profile:signup' %}"><button class="btn btn-primary" type="button">Signup</button></a>
            <a href="{% url 'login' %}"><button class="btn btn-primary" type="button">Login</button></a>
          </div>
      {% else %}
          <div class="button-group">
            <a href="{% url 'logout' %}"><button class="btn btn-danger" type="button">Logout</button></a>
          </div>
      {% endif %}

  </div>
</nav>